$backgroundColorLinearGardien: linear-gradient(rgba(17,24,39,1) 100%,rgba(0,0,0,1) 0%);

$primaryColor : rgba(17,24,39,1);
$secondaryColor : #fff;

$primaryColorText : #3779e8;
$secondaryColorText : #fff;

$btnBgColor : #3779e8;

$bgItemImage : #151c2b;