$backgroundColorLinearGardien: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(17,24,39,1) 50%, rgba(17,24,39,1) 100%);;

$primaryColor : rgba(17,24,39,1);
$secondaryColor : #fff;

$primaryColorText : #3779e8;
$secondaryColorText : #fff;
$bestQualitycolorText : #7e7e7e;

$btnBgColor : #3779e8;
$numberItem : #3779e8;

$bgItemImage : #151c2b;

$cartMiniBg : #fff;
$cartColorText : rgba(17,24,39,1);
$cartMiniBgScroll : rgba(17,24,39,0.3);

$errorText : red;
