%section {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        @extend .poppins-semibold;
        color: $secondaryColor;
        font-size: 1.1rem;

        &::first-letter {
            text-transform: capitalize;
        }

        span {
            color: $primaryColorText;
        }
    }
}

.open-cart-mini {
    right: 0px !important;
    transition: right 0.8s ease-in;
}
.open-cartmini {
    right: 0px !important;
    transition: none !important;
}
.cart-mini {
    //display: none;
    z-index: 6;
    position: fixed;
    top: 50px;
    right: -355px;
    width: 350px;
    height: 90%;
    background-color: $cartMiniBg;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: right 0.8s ease-in;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 34px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 34px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 34px -13px rgba(0, 0, 0, 0.75);

    .cart-header {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .header-title {
            @extend .poppins-semibold;
            color: $primaryColorText;
            font-size: 1rem;
            width: 50%;
            padding: 5px 15px;
        }

        .header-close {
            @extend .poppins-semibold;
            color: $primaryColorText;
            font-size: 1rem;
            width: 50%;
            text-align: right;
            padding: 5px 15px;
            display: flex;
            justify-content: end;

            img {
                cursor: pointer;
                display: block;
            }

        }
    }

    .cart-content {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: $cartMiniBgScroll $cartMiniBg;

        .cart-item {
            width: 90%;
            height: 60px;
            display: flex;
            flex-direction: row;
            padding: 10px 0px;
            border-bottom: 1px solid #171f2e77;

            .cart-image {
                width: 20%;

                img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    object-fit: cover
                }
            }

            .cart-info {
                width: 60%;

                .title {
                    @extend .poppins-regular;
                    color: $primaryColorText;
                    font-size: 0.9rem;
                    letter-spacing: 0.05rem;
                    margin-bottom: 2px;
                }

                .price {
                    @extend .poppins-regular;
                    color: $cartColorText;
                    font-size: 0.7rem;
                    letter-spacing: 0.05rem;
                    margin-bottom: 2px;
                }
            }

            .cart-tools {
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: end;
            }

            .tools-content {
                display: flex;
                flex-direction: column;

                .disabled {
                    display: none;
                }

                .add {
                    display: flex;
                    flex-direction: row;
                    width: 40px;
                    height: 30px;

                    input {
                        width: 20px;
                        font-size: 0.8rem;

                    }

                    input[type=button] {
                        cursor: pointer;
                    }

                    input[type=text] {
                        width: 10px !important;
                    }
                }
            }
        }
    }

    %rising {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 25px;

        h4 {
            width: 70%;
            @extend .poppins-semibold;
            color: $primaryColorText;
            font-size: 0.9rem;
            letter-spacing: 0.05rem;

            &:first-letter {
                text-transform: capitalize;
            }

        }

        span {
            width: 30%;
            text-align: right;
            @extend .poppins-regular;
            color: $cartColorText;
            font-size: 0.9rem;
            letter-spacing: 0.05rem;
        }
    }

    .rising {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .subtotal {
            @extend %rising;
        }

        .shipping {
            @extend %rising;
        }

        .total {
            @extend %rising;
        }
    }

    .button {
        width: 95%;
        display: flex;
        justify-content: right;
        margin-top: 10px;
    }
}

%items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px 0px;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
        grid-template-columns: repeat(1, 1fr);
    }

    .item {
        width: 280px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include tablet {
            width: 100%;
        }

        @include mobile {
            width: 100%;
        }

        .item-image {
            padding: 10px;
            width: 280px;
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: $bgItemImage;
            padding: 5px;
            -webkit-box-shadow: 0px 0px 34px -13px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 34px -13px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 34px -13px rgba(0, 0, 0, 0.75);

            @include tablet {
                width: 90%;
            }

            @include mobile {
                width: 90%;
            }

            img {
                width: 50%;
                height: 80%;
                object-fit: cover;

                @include tablet {
                    width: auto;
                }
            }
        }

        .item-content {
            @extend .poppins-regular;
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: row;
            align-items: end;
            color: $secondaryColorText;
            font-size: 0.9rem;
            font-weight: lighter;

            @include tablet {
                width: 90%;
            }

            @include mobile {
                width: 90%;
            }

            .item-info {
                width: 60%;

                h3 {
                    @extend .poppins-semibold;
                    width: 100%;
                    color: $secondaryColorText;
                    font-size: 0.8rem;
                    margin-bottom: 2px
                }
            }

            .button {
                width: 40%;
                display: flex;
                justify-content: right;
                align-items: center;

                .disabled {
                    display: none;
                }

                button {
                    width: 90px !important;
                    font-size: 0.6rem;
                }
            }
        }
    }
}
#last-products {
    @extend %section;

    .wrap {
        width: 90%;

        .items{
            @extend %items;
        }
    }
}

#best-quality {
    @extend %section;

    .wrap {
        margin-top: 50px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            width: 90%;
        }

        .image {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 40%;

                @include mobile {
                    width: 60%;
                }
            }
        }

        .title {
            @extend .poppins-semibold;
            color: #fff;
            text-transform: uppercase;
            font-size: 3rem;
            line-height: 3rem;
            letter-spacing: 0.1rem;

            @include mobile {
                margin-top: 50px;
                font-size: 1.8rem;
                line-height: 1.9rem;
                letter-spacing: 0.1rem;
            }

            span {
                color: $primaryColorText;
            }
        }

        .info {
            width: 50%;
            @extend .poppins-regular;
            color: $bestQualitycolorText;
            font-size: 0.6rem;
            line-height: 0.8rem;
            letter-spacing: 0.1rem;
            text-align: center;

            @include mobile {
                width: 80%;
                font-size: 0.7rem;
                line-height: 1rem;
            }


            &::first-letter {
                text-transform: capitalize;
            }
        }
    }
}

#testimonials {
    @extend %section;
    margin: 50px auto;

    .cards {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }

        .card-user {
            display: flex;
            justify-content: center;

            img {
                width: 25%;
                height: 25%;
                object-fit: cover;
                border-radius: 50%;

                @include mobile {
                    width: 35%;
                    height: 35%;
                }
            }
        }

        .card-name {
            @extend .poppins-regular;
            color: $secondaryColorText;
            font-size: 0.6rem;
            line-height: 0.8rem;
            letter-spacing: 0.1rem;
            text-align: center;
            padding: 10px 0px;

            @include mobile {
                font-size: 0.7rem;
            }

            &::first-letter {
                text-transform: capitalize;
            }
        }

        .card-content {
            @extend .poppins-regular;
            color: $bestQualitycolorText;
            font-size: 0.6rem;
            line-height: 0.8rem;
            letter-spacing: 0.1rem;
            text-align: center;

            @include mobile {
                font-size: 0.7rem;
                text-align: justify;
            }

            &::first-letter {
                text-transform: capitalize;
            }
        }
    }
}

#main-cart {
    background-color: $secondaryColor;

    #cart {
        @extend %section;
        flex-direction: row;
        justify-content: center;

        @include mobile {
            flex-direction: column-reverse;
        }

        %row {
            @extend .poppins-regular;
            width: 15%;
            color: $bestQualitycolorText;
            font-size: 0.6rem;
            line-height: 0.8rem;
            letter-spacing: 0.1rem;
            text-align: center;

            @include mobile {
                font-size: 0.7rem;
                text-align: left;
                text-align: left;
            }
        }

        %name-porduct {
            width: 45% !important;
            display: flex;
            justify-content: start;
        }

        %delete {
            width: 5% !important;
        }

        %total {
            width: 10% !important;
        }

        .items {
            width: 60%;
            min-height: 600px;
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mobile {
                width: 90%;
                min-height: 60dvh;
                margin-top: 10px;
            }

            h2 {
                @extend .poppins-semibold;
                width: 100%;
                text-align: left;
                padding: 30px 0px;
                font-size: 1.5rem;
            }

            .header {
                width: 100%;
                height: 20px;
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid #ccc;

                .row {
                    @extend %row;
                }

                .product {
                    @include mobile {
                        display: none;
                    }
                }

                .name-porduct {
                    @extend %name-porduct;
                }

                .delete {
                    @extend %delete
                }

                .total {
                    @extend %total;

                    @include mobile {
                        width: 20% !important;
                        text-align: right;
                    }
                }

            }

            .list {
                width: 100%;
                height: 90px;
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid #ccc;
                align-items: center;

                .row {
                    @extend %row;
                    font-size: 0.9rem;
                }

                .product {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include mobile {
                        display: none;
                    }

                    img {
                        width: 40%;
                        height: 40%;

                        object-fit: cover;
                    }
                }

                .name-porduct {
                    @extend %name-porduct;
                    @extend .poppins-semibold;
                    color: $primaryColorText;
                    font-size: 0.9rem;
                    justify-content: normal;
                    height: 100%;
                    padding: 20px;

                    @include mobile {
                        padding: 0px;
                        align-items: center;
                    }

                }

                .delete {
                    @extend %delete;

                    @include mobile {
                        width: 10% !important;
                        display: flex;
                        justify-content: center;
                    }
                }

                .total {
                    @extend %total;

                    @include mobile {
                        width: 20% !important;
                        text-align: right;
                    }

                }

                .quantity {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .disabled {
                        display: none;
                    }

                    .add {
                        display: flex;
                        flex-direction: row;
                        width: 60px;

                        input {
                            width: 20px;
                            height: 40px;
                            font-size: 0.9rem;
                            @extend .poppins-regular;

                        }

                        input[type=button] {
                            cursor: pointer;
                        }
                    }
                }

            }

        }

        aside {
            width: 30%;
            min-height: 600px;
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            @include mobile {
                width: 100%;
                min-height: 100%;
                margin-top: 20px;
            }

            .wrap {
                width: 80%;
                margin-top: 80px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                padding: 20px 20px;
                border: 1px solid #ccc;


                %rising {
                    width: 90%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 25px;
                    border-bottom: 1px solid #ccc;

                    h4 {
                        width: 70%;
                        @extend .poppins-semibold;
                        color: $primaryColorText;
                        font-size: 0.9rem;
                        letter-spacing: 0.05rem;

                        &:first-letter {
                            text-transform: capitalize;
                        }

                    }

                    span {
                        width: 30%;
                        text-align: right;
                        @extend .poppins-regular;
                        color: $cartColorText;
                        font-size: 0.9rem;
                        letter-spacing: 0.05rem;
                    }
                }

                .rising {
                    @extend .poppins-regular;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .subtotal {
                        @extend %rising;
                    }

                    .shipping {
                        @extend %rising;
                    }

                    .total {
                        @extend %rising;
                    }
                }

                .button {
                    width: 95%;
                    display: flex;
                    justify-content: right;
                    margin-top: 10px;
                }
            }

        }

    }
}

#checkout {
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 80px 40px;

    @include tablet {
        width: 100%;
    }

    @include mobile {
        width: 100%;
        flex-direction: column-reverse;
        padding: 20px 10px;
    }

    aside {
        width: 40%;
        display: flex;
        flex-direction: column;

        @include tablet {
            width: 60%;
        }

        @include mobile {
            width: 100%;
        }

        %row {
            @extend .poppins-regular;
            width: 20%;
            color: $bestQualitycolorText;
            font-size: 0.6rem;
            line-height: 0.8rem;
            letter-spacing: 0.1rem;
            text-align: center;
        }

        %name-porduct {
            width: 50% !important;
            display: flex;
            justify-content: start;
        }

        %price {
            width: 10% !important;

            @include mobile {
                width: 20% !important;
            }
        }

        %quantity {
            width: 10% !important;

            @include mobile {
                width: 20% !important;
            }
        }

        %total {
            width: 10% !important;

            @include mobile {
                width: 20% !important;
            }
        }

        .items {
            width: 100%;
            min-height: 600px;
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 30px;

            h3 {
                @extend .poppins-semibold;
                width: 100%;
                text-align: left;
                padding: 30px 0px;
                font-size: 1rem;
            }


            .header {
                width: 100%;
                height: 20px;
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid #ccc;

                .row {
                    @extend %row;
                }

                .product {
                    @include mobile {
                        display: none;
                    }
                }

                .name-porduct {
                    @extend %name-porduct;
                }

                .price {
                    @extend %price;
                }

                .quantity {
                    @extend %quantity;
                }

                .total {
                    @extend %total;
                }

            }

            .list {
                width: 100%;
                height: 90px;
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid #ccc;
                align-items: center;

                .row {
                    @extend %row;
                    font-size: 0.7rem;
                }

                .product {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include mobile {
                        display: none;
                    }

                    img {
                        width: 40%;
                        height: 40%;

                        object-fit: cover;
                    }
                }

                .name-porduct {
                    @extend %name-porduct;
                    @extend .poppins-semibold;
                    color: $primaryColorText;
                    font-size: 0.7rem;
                    justify-content: left;
                    align-items: center;
                    height: 100%;
                    padding: 20px;

                    @include mobile {
                        padding: 0px;
                        text-align: left
                    }
                }


                .price {
                    @extend %price;
                }

                .quantity {
                    @extend %quantity;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .total {
                    @extend %total;
                }

            }

            .rising {
                width: 100%;
                height: 20px;
                display: flex;
                flex-direction: row;
                justify-content: right;

                .title {
                    color: $primaryColorText;
                }

                .row {
                    @extend %row;
                    font-size: 0.8rem;
                    padding: 5px 0px;
                    text-align: right;
                }
            }
        }
    }

    .from {
        width: 60%;

        @include tablet {
            width: 40%;
        }

        @include mobile {
            width: 100%;
        }

        #myForm {
            width: 80%;
            min-height: 600px;
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include tablet {
                width: 100%;
            }

            @include mobile {
                width: 100%;
                min-height: 100px;
                margin-top: 10px;
            }

            input,
            select {
                display: block;
                width: 100%;
                height: calc(1.5em + 0.75rem + 2px);
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: $bestQualitycolorText;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

            }

            ::placeholder {
                @extend .poppins-regular;
                color: $bestQualitycolorText;
                font-size: 0.9rem;
                margin-bottom: 5px;
            }

            .adressCity {
                flex-direction: column !important;
            }

            .form-group {
                width: 80%;
                display: flex;
                flex-direction: column;
                padding: 10px 20px;

                @include tablet {
                    width: 100%;
                }

                @include mobile {
                    width: 100%;
                }

                .error {
                    @extend .poppins-regular;
                    color: $errorText;
                    font-size: 0.8rem;
                    line-height: 1rem;
                    padding: 10px 0px;
                }

                label {
                    @extend .poppins-regular;
                    color: $bestQualitycolorText;
                    font-size: 0.9rem;
                    margin-bottom: 5px;
                }

                .gender {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .userName {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                .city {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 5px;

                    #zip {
                        width: 30%;
                    }
                }

                #website {
                    display: none;
                }

            }
        }
    }
}

#products{
    @extend %section;
    margin-top: 50px;
    .wrap {
        width: 90%;

        .items{
            @extend %items;
        }
    }
}